body, html {
    background-color: #FAF9F6;
    height: 100%;
    margin:0;
    padding: 0;

}


.imagens {/*Sustenta a logo e a mensagem de digitar a senha*/
    position: fixed;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 0px;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 4;
    user-select: none;
}

#veili_logo { /*Formata a posição da logo Veili*/
    height: auto;
    width: 200px;
    user-select: none;
}

.mensagem { /*Digite a senha*/
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 180px;
    z-index: 3;
    user-select: none;
}
#cadastro{
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    text-align: center;
    align-items: center;
    user-select: none;
    width: 100px;
    left:625px;
    top:270px;
}
#mini_veili{
    position: fixed;
    text-align: center;
    align-items: center;
    user-select: none;
    height: auto;
    width: 80px;
    top:278px;
    left: 700px;
    
}

.tela { /*Sustenta o formato dos botões*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.grid-botoes { /*Formato dos botões*/
    top: 380px; /*Altura dos botões*/
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(4, 40px);
    gap: 8px;
}

.grid-botoes button { /*Aparência dos botões*/
    background-color: #f3870c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;}

.imagem-centralizada{
    position: fixed;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    user-select: none;
}
.imagem-centralizada img{
    height: 700px;
}