body, html {
    background-color: #FAF9F6;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden; /* previne scroll lateral */
}


.imagens {/*Sustenta: VEILI_LOGO[OK] , CADASTRO[NOK] , SENHA[OK] , MINI_LOGO[OK] */
    position: fixed;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 0px;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 4;
    user-select: none;

}

#veili_logo { /*Formata a posição da logo Veili*/
    height: auto;
    width: 200px;
    user-select: none;
}

.mensagem { /*Digite a senha*/
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 180px;
    z-index: 3;
    user-select: none;
}
#cadastro{
    background-color: red;
    width: 100px;
    position: fixed;
    top: 105px; /* Ajuste a posição vertical conforme necessário */
    left: 530px; /* Ajuste a posição horizontal conforme necessário */
    font-weight: bold;
}
#mini_veili{
    width: 100px;
    position: relative;
    top: 90px; /* Ajuste a posição vertical conforme necessário */
    left: 0px; /* Ajuste a posição horizontal conforme necessário */

}


.tela { /*Sustenta o formato dos botões*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.grid-botoes { /*Formato dos botões*/
    top: 380px; /*Altura dos botões*/
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(4, 40px);
    gap: 8px;
    z-index: 999;
}

.grid-botoes button { /*Aparência dos botões*/
    background-color: #f3870c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;}

    #campoSenha{
        font-weight: bold;
        font-size: 20px;
        position: relative;
        text-align: center;
        top: 350px;
        user-select: none;
    }

.imagem-centralizada{
    position: fixed;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    user-select: none;
}
.imagem-centralizada img{
    height: 700px;
}
